@import "twitter/bootstrap";
@import 'town_health_record';


.wrapper{
  width:90%;
  margin:10px auto;
}
.commands h1{
  font-size:15px;
}

.form_wrapper{
  text-align: center;
}
.form_wrapper{
  text-align: left;
}
input[type=submit]{
 position:absolute;
 right:5px;
}

.bx {
width: 45%;
min-height: 40px;
padding: 5px;
box-shadow: 0px 3px 8px #c0c0c0;
position: relative;
background: #dddddd;
}
.commands{
  margin: 10px 0px;
  background:#FFB03B;
  text-align:center;
  padding:5px;
  width:100%;
  box-shadow: 0px 3px 8px #c0c0c0;
}

.a{

}
